<h1 class="product-page-heading">Welcome to the Catalogue</h1>

<div class="product-cards">
  <div class="product-card" *ngFor="let product of newData">
    <div class="product-image">
      <img [src]="product.Image" alt="{{ product.Name }}" />
    </div>
    <div class="product-details">
      <h2>{{ product.Name }}</h2>
      <p class="product-price">Price: ${{ product.Price }}</p>

      <div *ngFor="let element of cartData">
        <div *ngIf="itemPresent(product) && element.id === product.id">
          <button (click)="decreaseItems(product)">-</button>
          <span *ngIf="element.id === product.id">{{ element.quantity || 0 }}</span>
          <button (click)="increaseItems(product)">+</button>
        </div>
      </div>
      <div *ngIf="!itemPresent(product)">
        <button (click)="addToCart(product)" class="add-to-cart-button">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
