<h1 class="product-page-heading">Welcome to the Cart Page</h1>

<button (click)="placeOrder()">CheckOut</button>

<div class="product-cards">
  <div class="product-card" *ngFor="let product of productsInCart">
    <div class="product-image">
      <img [src]="product.Image" alt="{{ product.Name }}" />
    </div>
    <div class="product-details">
      <h2>{{ product.Name }}</h2>
      <p class="product-weight">Weight: {{ product.Weight }}</p>
      <p class="product-price">Price: ${{ product.Price }}</p>
      <!-- Show quantity control or "Add to Cart" button based on product quantity -->
      <!-- <ng-container *ngIf="!checkquantity(product)" >
        <button class="add-to-cart-button" (click)="addToCart(product)">Add to cart</button>
      </ng-container>
      <ng-container *ngIf="!checkquantity(product)">
        <div class="quantity-control">
          <button (click)="decreaseQuantity(product)">(-)</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQuantity(product)">(+) </button>
        </div>
      </ng-container> -->

  
    <button (click)="removeItem(product)" class="btn btn-danger">Remove</button>

    </div>
  </div>
</div>
